<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989964078923-ao667e2ri62k5am3q2vaqgqd8g38kalg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989964078923-ao667e2ri62k5am3q2vaqgqd8g38kalg</string>
	<key>API_KEY</key>
	<string>AIzaSyDZzgykU3v8Hd9LfRpHpB0rHt27AGNf_Aw</string>
	<key>GCM_SENDER_ID</key>
	<string>989964078923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alperenkisi.tansiyonSeker</string>
	<key>PROJECT_ID</key>
	<string>tansiyonseker</string>
	<key>STORAGE_BUCKET</key>
	<string>tansiyonseker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989964078923:ios:2a7d43bc24123a8ee9e2ce</string>
</dict>
</plist>